.swiperButtonNext, .swiperButtonPrev{
     color:#ED553B;
     margin-right: 100px;
}
.firstSwipper{
     background-color: linear-gradient(78.83deg, #FFE6E6 8.52%, #F5FFFE 68.88%, #FFFFFF 101.74%);

}